{% extends 'base.html' %}

{% block css %}
    {{ block.super }}
{% endblock css %}


{% block bar %}
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">{{ request.user.username }}</a></li>
            <li><a href="/logout/">注销</a></li>
            <li><a href="#">消息通知</a></li>
            <li><a href="#">帮助</a></li>
        </ul>
        <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
        </form>
    </div>
{% endblock bar %}

{% block index_form %}
    {# 主页 #}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li><a href="/index_book/">图书列表</a></li>
                    <li><a href="/index_author/">作者详情</a></li>
                    <li><a href="/index_publish/">出版社详情</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h2 class="sub-header">编辑出版社</h2>
                <div class="container">
                    <form class="form-horizontal" method="post" novalidate>
                        {% csrf_token %}
                        <div class="form-group col-sm-10">
                            <label for="" class="col-sm-2 control-label">出版社：</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" value={{ pub_obj.name }} name="edit_name">
                            </div>
                        </div>
                        <div class="form-group col-sm-10">
                            <label for="" class="col-sm-2 control-label">所在城市：</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" value={{ pub_obj.city }} name="edit_city">
                            </div>
                        </div>
                        <div class="form-group col-sm-10">
                            <label for="" class="col-sm-2 control-label">Email：</label>
                            <div class="col-sm-4">
                                <input type="email" class="form-control" value={{ pub_obj.email }} name="edit_email">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-4"></div>
                            <div class="col-lg-6">
                                <button type="button" id="edit_close_btn" class="btn btn-default">关闭</button>
                                <button type="submit" id="edit_save_btn" class="btn btn-primary">保存</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock index_form %}


{% block js %}
    {{ block.super }}
    <script>

        //关闭
        $('#edit_close_btn').click(function () {
            window.location.replace("/index_publish/?page={{ page }}");
        });


    </script>
{% endblock js %}








